@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900 font-sans overflow-x-hidden
}

html {
  @apply overscroll-none touch-none sm:overscroll-auto sm:touch-auto;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .text-shadow-md {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .text-shadow-lg {
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
  }
}
